.Root {
  background: #ffffff; /* цвет фона белый */
}

.Header {
  width: 100%; /* блок Header занимает 100 процентов ширины страницы */
  height: 864px; /* высота блока Header 864 пикселя */
  background-image: url(/header.jpeg); /* фоновое изображение блока Header */
  background-repeat: no-repeat; /* фоновое изображение не повторяется */
  background-size: cover; /* фоновое изображение растягивается на всю ширину блока */
  background-position: center; /* фоновое изображение выравнивается по центру */
  text-align: center; /* текст выравнивается по центру */
  color: #ffffff; /* цвет текста белый */
}

.Navigation {
  display: flex; /* элементы блока Navigation выстраиваются в ряд */
  max-width: 1210px; /* максимальная ширина блока Navigation 1210 пикселей */
  margin: 0 auto; /* блок Navigation выравнивается по центру */
  padding: 54px 40px; /* внутренние отступы блока Navigation 54 пикселя сверху и снизу, 40 пикселей слева и справа */
}

.HeaderLink {
  display: inline-block; /* элементы блока HeaderLink выстраиваются в ряд */
  padding: 10px; /* внутренние отступы элементов блока HeaderLink 10 пикселей */
  margin-top: 10px; /* верхний внешний отступ элементов блока HeaderLink 10 пикселей */
  margin-right: 21px; /* правый внешний отступ элементов блока HeaderLink 21 пиксель */
  font-size: 15px; /* размер шрифта 15 пикселей */
  line-height: 28px; /* межстрочный интервал 28 пикселей */
  color: #ffffff; /* цвет текста белый */
  text-decoration: none; /* убираем подчеркивание у ссылок */
}

.HeaderLogo {
  height: 58px; /* высота элемента блока HeaderLogo 58 пикселей */
}

.HeaderSocialLinks {
  flex: 1; /* элементы блока HeaderSocialLinks занимают всю доступную ширину */
  text-align: right; /* текст выравнивается по правому краю */
  padding: 10px; /* внутренние отступы элементов блока HeaderSocialLinks 10 пикселей */
}

.HeaderTitle {
  margin-top: 100px; /* верхний внешний отступ элемента блока HeaderTitle 100 пикселей */
}

.HeaderSubtitle {
  margin-top: 30px; /* верхний внешний отступ элемента блока HeaderSubtitle 30 пикселей */
  margin-bottom: 100px; /* нижний внешний отступ элемента блока HeaderSubtitle 100 пикселей */
}

.HeaderButton {
  width: 236px; /* ширина элемента блока HeaderButton 236 пикселей */
}

.Features {
  margin-top: 181px; /* верхний внешний отступ блока Features 181 пиксель */
  width: 100%; /* ширина блока Features 100% */
  text-align: center; /* контент выравнивается по центру */
}

.FeaturesList {
  margin: 80px auto 0; /* верхний внешний отступ элемента блока FeaturesList 80 пикселей, отступы по бокам автоматические */
  max-width: 869px; /* максимальная ширина блока FeaturesList 869 пикселей */
  display: grid; /* элементы блока FeaturesList выстраиваются в сетку */
  grid-template-columns: auto auto auto; /* ширина колонок 1, 2 и 3 равна ширине содержимого */
  column-gap: 52px; /* расстояние между колонками 52 пикселей */
}

.FeaturesListItemIcon {
  margin-bottom: 17px; /* нижний внешний отступ элемента блока FeaturesListItemIcon 17 пикселей */
}

.FeaturesListItemText {
  margin-top: 17px; /* верхний внешний отступ элемента блока FeaturesListItemText 17 пикселей */
}

.FeaturesVideo {
  margin: 132px auto 0; /* верхний внешний отступ блока FeaturesVideo 132 пикселей, отступы по бокам автоматические */
  width: 1177px; /* ширина блока FeaturesVideo 1177 пикселей */
  height: 658px; /* высота блока FeaturesVideo 658 пикселей */
  background-image: url(/screen.jpg); /* задний фон блока FeaturesVideo */
  background-size: cover; /* фоновое изображение растягивается на всю ширину блока */
  background-position: center; /* фоновое изображение выравнивается по центру */
  background-repeat: no-repeat; /* фоновое изображение не повторяется */
  display: flex; /* для позиционирование дочернего элемента блока FeaturesVideo */
  justify-content: center; /* дочерний элемент блока FeaturesVideo выравнивается по центру по горизонтали */
  align-items: center; /* дочерний элемент блока FeaturesVideo выравнивается по центру по вертикали */
}

.FeaturesVideoButton {
  width: 187px; /* ширина элемента блока FeaturesVideoButton 187 пикселей */
  height: 187px; /* высота элемента блока FeaturesVideoButton 187 пикселей */
  border-radius: 50%; /* радиус скругления углов элемента блока FeaturesVideoButton 50% */
}

.Advantage {
  max-width: 1283px; /* максимальная ширина блока Advantage 1283 пикселей */
  margin: 226px auto; /* верхний и нижний внешние отступы блока Advantage 226 пикселей, отступы по бокам автоматические */
  padding: 43px 0; /* верхний и нижний внутренние отступы блока Advantage 43 пикселей, отступы по бокам 0 */
  display: grid; /* элементы блока Advantage выстраиваются в сетку */
  grid-template-columns: auto auto; /* ширина колонок 1 и 2 равна ширине содержимого */
  column-gap: 50px; /* расстояние между колонками 50 пикселей */
}

.AdvantageButton {
  margin-top: 60px; /* верхний внешний отступ элемента блока AdvantageButton 60 пикселей */
  width: 236px; /* ширина элемента блока AdvantageButton 236 пикселей */
}

.Newsletter {
  max-width: 1440px; /* максимальная ширина блока Newsletter 1440 пикселей */
  margin: 0 auto; /* отступы по бокам автоматические */
  padding: 43px 0; /* верхний и нижний внутренние отступы блока Newsletter 43 пикселей, отступы по бокам 0 */
  display: grid; /* элементы блока Newsletter выстраиваются в сетку */
  grid-template-columns: auto auto; /* ширина колонок 1 и 2 равна ширине содержимого */
  column-gap: 50px; /* расстояние между колонками 50 пикселей */
}

.Newsletter > div:last-child {
  padding-top: 121px; /* верхний внутренний отступ второго дочернего элемента блока Newsletter 121 пикселей */
}

.NewsletterForm {
  margin-top: 30px; /* верхний внешний отступ элемента блока NewsletterForm 30 пикселей */
}

.NewsletterInput,
.NewsletterButton {
  margin: 36px 0; /* верхний и нижний внешние отступы элементов блока NewsletterInput и NewsletterButton 36 пикселей, отступы по бокам 0 */
}

.NewsletterInput {
  width: 273px; /* ширина элемента блока NewsletterInput 273 пикселей */
}

.NewsletterButton {
  width: 177px; /* ширина элемента блока NewsletterButton 177 пикселей */
  margin-left: 12px; /* левый внешний отступ элемента блока NewsletterButton 12 пикселей */
}

.Partners {
  margin: 130px auto 80px; /* верхний внешний отступ блока Partners 130 пикселей, отступы по бокам автоматические, нижний внешний отступ блока Partners 80 пикселей */
  text-align: center; /* выравнивание текста по центру */
}

.PartnersList {
  max-width: 1075px; /* максимальная ширина блока PartnersList 1075 пикселей */
  margin: 80px auto; /* верхний внешний отступ блока PartnersList 80 пикселей, отступы по бокам автоматические */
  display: flex; /* элементы блока PartnersList выстраиваются в ряд */
  flex-wrap: wrap; /* элементы блока PartnersList переносятся на новую строку, если не помещаются в ряд */
  border: 0.5px solid #d8d8d8; /* рамка блока PartnersList 0.5 пикселя, цвет #D8D8D8 */
}

.PartnersItem {
  border: 0.5px solid #d8d8d8; /* рамка элемента блока PartnersItem 0.5 пикселя, цвет #D8D8D8 */
  padding: 25px 38px; /* верхний и нижний внутренние отступы элемента блока PartnersItem 0 пикселей, отступы по бокам 38 пикселей */
  flex: 1; /* элемент блока PartnersItem занимает все доступное пространство */
}

.PartnersItemImage {
  display: flex; /* для позиционирования содержимого элемента блока PartnersItemImage используется flexbox */
  justify-content: center; /* выравнивание содержимого по центру */
  align-items: center; /* выравнивание содержимого по центру */
  min-height: 77px; /* минимальная высота элемента блока PartnersItemImage 77 пикселей */
}

.PartnersButton {
  width: 236px; /* ширина элемента блока PartnersButton 236 пикселей */
}

.Testimonials {
  margin: 130px auto 80px; /* верхний внешний отступ блока Testimonials 130 пикселей, отступы по бокам автоматические, нижний внешний отступ блока Testimonials 80 пикселей */
  text-align: center; /* выравнивание текста по центру */
}

.TestimonialsIbm {
  margin: 30px auto 80px; /* верхний внешний отступ блока TestimonialsIbm 30 пикселей, отступы по бокам автоматические, нижний внешний отступ блока TestimonialsIbm 80 пикселей */
}

.TestimonialsContent {
  margin: 80px auto; /* верхний внешний отступ блока TestimonialsContent 80 пикселей, отступы по бокам автоматические */
  display: flex; /* элементы блока TestimonialsContent выстраиваются в ряд */
  width: fit-content; /* ширина блока TestimonialsContent подстраивается под ширину содержимого */
  text-align: left; /* выравнивание текста по левому краю */
}

.TestimonialsText {
  margin-left: 13px; /* левый внешний отступ элемента блока TestimonialsText 13 пикселей */
}

.TestimonialsButton {
  width: 286px; /* ширина элемента блока TestimonialsButton 286 пикселей */
}

.Pricing {
  background-color: #252b42; /* фоновый цвет блока Pricing #252b42 */
  color: #ffffff; /* цвет текста блока Pricing #ffffff */
  text-align: center; /* выравнивание текста по центру */
  padding: 100px 0; /* верхний и нижний внутренние отступы блока Pricing 100 пикселей, отступы по бокам 0 пикселей */
}

.PricingList {
  margin: 80px auto 0; /* верхний внешний отступ блока PricingList 80 пикселей, отступы по бокам автоматические, нижний внешний отступ блока PricingList 0 пикселей */
  max-width: 1105px; /* максимальная ширина блока PricingList 1105 пикселей */
  display: grid; /* элементы блока PricingList выстраиваются в сетку */
  grid-template-columns: auto auto auto; /* количество колонок в сетке 2 */
  grid-gap: 50px; /* расстояние между элементами сетки 50 пикселей */
}

.PricingListItem {
  margin: 43px 0; /* верхний и нижний внешние отступы элемента блока PricingListItem 43 пикселей, отступы по бокам 0 пикселей */
  background-color: #ffffff; /* фоновый цвет элемента блока PricingListItem #ffffff */
  color: #252b42; /* цвет текста элемента блока PricingListItem #252b42 */
  border-radius: 10px; /* скругление углов элемента блока PricingListItem 10 пикселей */
  padding: 40px; /* внутренние отступы элемента блока PricingListItem 40 пикселей */
}

.PricingListItemPrice {
  width: fit-content; /* ширина элемента блока PricingListItemPrice подстраивается под ширину содержимого */
  margin: 30px auto; /* верхний внешний отступ элемента блока PricingListItemPrice 30 пикселей, отступы по бокам автоматические */
  display: flex; /* элементы блока PricingListItemPrice выстраиваются в ряд */
}

.PricingListItemPriceText {
  margin-left: 10px; /* левый внешний отступ элемента блока PricingListItemPriceText 10 пикселей */
  margin-top: 10px; /* верхний внешний отступ элемента блока PricingListItemPriceText 10 пикселей */
  text-align: left; /* выравнивание текста по левому краю */
}

.Pricing ul {
  /* селектор элемента списка ul в блоке Pricing */
  list-style: none; /* убираем маркеры списка */
  padding: 0; /* обнуляем внутренние отступы списка */
  line-height: 48px; /* высота строки 48 пикселей */
}

.PricingListItemButton {
  width: 100%; /* ширина элемента блока PricingListItemButton 100% */
  margin-top: 30px; /* верхний внешний отступ элемента блока PricingListItemButton 30 пикселей */
}

.PricingListItem:nth-child(2) {
  /* селектор элемента блока PricingListItem, который является вторым в списке */
  margin: 0; /* обнуляем внешние отступы элемента блока PricingListItem */
  background-color: #2091f9; /* фоновый цвет элемента блока PricingListItem #2091F9 */
  color: #ffffff; /* цвет текста элемента блока PricingListItem #ffffff */
  border-radius: 10px; /* скругление углов элемента блока PricingListItem 10 пикселей */
  padding: 83px 40px; /* внутренние отступы элемента блока PricingListItem 83 пикселей сверху и снизу, 40 пикселей по бокам */
}

.PricingListItem:nth-child(2) .PricingListItemButton {
  /* селектор элемента блока PricingListItemButton, который является вторым в списке */
  background-color: #ffffff; /* фоновый цвет элемента блока PricingListItemButton #ffffff */
  color: #2091f9; /* цвет текста элемента блока PricingListItemButton #2091F9 */
}

.Contact {
  margin-top: 203px; /* верхний внешний отступ блока Contact 203 пикселя */
  text-align: center;
}

.ContactRow {
  max-width: 1261px; /* максимальная ширина элемента блока ContactRow 1261 пикселей */
  display: flex; /* элементы блока ContactRow выстраиваются в ряд */
  margin: 50px auto 102px; /* верхний и нижний внешние отступы элемента блока ContactRow 50 и 102 пикселей, отступы по бокам автоматические */
}

.ContactForm {
  text-align: left;
  width: 453px; /* ширина элемента блока ContactForm 453 пикселя */
  border: 1px solid #dddddd; /* рамка элемента блока ContactForm 1 пиксель, цвет #dddddd */
  border-radius: 20px; /* скругление углов элемента блока ContactForm 20 пикселей */
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); /* тень элемента блока ContactForm 0 пикселей по горизонтали и вертикали, 13 пикселей размытия, 19 пикселей расстояния, цвет rgba(0, 0, 0, 0.07) */
  padding: 52px 50px; /* внутренние отступы элемента блока ContactForm 52 пикселя сверху и снизу, 50 пикселей по бокам */
}

.ContactForm h3 {
  text-align: center;
}

.ContactFormInput {
  width: 100%; /* ширина элемента блока ContactFormInput 100% */
  margin-top: 45px; /* верхний внешний отступ элемента блока ContactFormInput 45 пикселей */
}

.ContactFormTextarea {
  width: 353px; /* ширина элемента блока ContactFormTextarea 353 пикселя */
  height: 193px; /* высота элемента блока ContactFormTextarea 193 пикселя */
  background: #f5f5f5; /* фоновый цвет элемента блока ContactFormTextarea #F5F5F5 */
  border: 1px solid #e8e8e8; /* рамка элемента блока ContactFormTextarea 1 пиксель, цвет #E8E8E8 */
  padding: 23px 20px; /* внутренние отступы элемента блока ContactFormTextarea 23 пикселя сверху и снизу, 20 пикселей по бокам */
  margin-top: 45px; /* верхний внешний отступ элемента блока ContactFormTextarea 45 пикселей */
  font-size: 15px; /* размер шрифта элемента блока ContactFormTextarea 15 пикселей */
}

.ContactFormButton {
  margin-top: 45px; /* верхний внешний отступ элемента блока ContactFormButton 45 пикселей */
  width: 145px; /* ширина элемента блока ContactFormButton 145 пикселей */
}

.ContactInfo {
  flex: 1; /* элемент блока ContactInfo занимает все свободное пространство */
  margin-left: 50px; /* левый внешний отступ элемента блока ContactInfo 50 пикселей */
  text-align: left;
  display: grid; /* элементы блока ContactInfo выстраиваются в сетку */
  grid-template-columns: auto auto auto;
  column-gap: 15px; /* расстояние между колонками элемента блока ContactInfo 15 пикселей */
}

.ContactInfoItem {
  text-align: center; /* выравнивание текста элемента блока ContactInfoItem по центру */
}

.ContactInfoItem h5 {
  /* заголовок элемента блока ContactInfoItem */
  height: 46px; /* высота элемента блока ContactInfoItem 46 пикселей */
  display: flex; /* для центрирования текста по вертикали */
  align-items: center; /* для центрирования текста по вертикали */
}

.ContactInfoMap {
  margin: 60px 120px; /* верхний и нижний внешние отступы элемента блока ContactInfoMap 60 пикселей, левый и правый внешние отступы элемента блока ContactInfoMap 120 пикселей */
  grid-column: 1 / span 3; /* элемент блока ContactInfoMap занимает 3 колонки */
}

.Footer {
  background-color: #252b42; /* фоновый цвет элемента блока Footer #252b42 */
  color: #ffffff; /* цвет текста элемента блока Footer #ffffff */
  padding: 150px 0; /* внутренние отступы элемента блока Footer 150 пикселей сверху и снизу, 0 пикселей по бокам */
}

.FooterRow {
  margin: 0 auto; /* верхний и нижний внешние отступы элемента блока FooterRow 150 пикселей, левый и правый внешние отступы элемента блока FooterRow автоматические */
  display: flex; /* элементы блока FooterRow выстраиваются в ряд */
  width: 991px; /* ширина элемента блока FooterRow 991 пикселей */
}

.FooterItem {
  min-width: 170px; /* минимальная ширина элемента блока FooterItem 170 пикселей */
  margin-right: 20px; /* правый внешний отступ элемента блока FooterItem 20 пикселей */
}

.FooterItem:last-child {
  /* последний элемент блока FooterItem */
  margin-left: 105px; /* левый внешний отступ элемента блока FooterItem 105 пикселей */
  margin-right: 0px; /* правый внешний отступ элемента блока FooterItem 0 пикселей */
}

.FooterItem ul {
  /* список элемента блока FooterItem */
  list-style: none; /* убираем маркеры списка */
  padding: 0; /* обнуляем внутренние отступы списка */
  margin-top: 25px; /* верхний внешний отступ списка 25 пикселей */
}

.FooterItem ul a {
  /* ссылки в списке */
  line-height: 50px; /* высота строки списка 50 пикселей */
}

.FooterContact {
  display: flex; /* элементы блока FooterContact выстраиваются в ряд */
  margin-bottom: 10px; /* нижний внешний отступ элемента блока FooterContact 10 пикселей */
}

.FooterContact a {
  line-height: 46px; /* высота строки элемента блока FooterContact 46 пикселей */
}

.FooterSocialLinks {
  margin-top: 50px; /* верхний внешний отступ элемента блока FooterSocialLinks 50 пикселей */
}

.HeaderMenu,
.HeaderTitleMobile,
.FeaturesVideoMobile,
.NewsletterImageMobile,
.ContactInfoMobile {
  display: none; /* скрываем элементы блока HeaderMenu, элементы блока HeaderTitleMobile, элементы блока FeaturesVideoMobile, элементы блока NewsletterImageMobile, элементы блока ContactInfoMobile */
}

@media (max-width: 1270px) {
  /* медиа-запрос для экранов шириной 1270 пикселей и меньше */
  .Header {
    height: 833px; /* высота элемента блока Header 833 пикселей */
  }

  .Navigation {
    padding: 16px; /* внутренние отступы элемента блока Navigation 16 пикселей сверху и снизу, 16 пикселей по бокам */
    justify-content: space-between; /* элементы блока Navigation выстраиваются в ряд, расстояние между элементами равно ширине экрана минус ширина элементов блока Navigation */
    margin-bottom: 60px; /* нижний внешний отступ элемента блока Navigation 50 пикселей */
  }

  .HeaderLink,
  .HeaderSocialLinks,
  .HeaderTitle {
    display: none; /* скрываем элементы блока HeaderLink, HeaderSocialLinks, HeaderTitle при ширине экрана меньше 1270 пикселей */
  }

  .HeaderMenu,
  .HeaderTitleMobile {
    display: block; /* показываем элементы блока HeaderMenu, HeaderTitleMobile при ширине экрана меньше 1270 пикселей */
  }

  .HeaderMenu {
    display: flex;
    align-items: center; /* элементы блока HeaderMenu выравниваются по вертикали по центру */
  }

  .HeaderTitleMobile,
  .HeaderSubtitle {
    padding: 0 16px; /* внутренние отступы элемента блока HeaderTitleMobile 0 пикселей сверху и снизу, 16 пикселей по бокам */
  }

  .Features {
    margin-top: 110px; /* верхний внешний отступ элемента блока Features 110 пикселей */
  }

  .FeaturesVideoMobile {
    display: block; /* показываем элемент блока FeaturesVideoMobile при ширине экрана меньше 1270 пикселей */
    margin: 50px auto 0; /* верхний внешний отступ блока FeaturesVideoMobile 132 пикселей, отступы по бокам автоматические */
    width: 100%; /* ширина блока FeaturesVideoMobile 100% */
    max-width: 386px; /* максимальная ширина блока FeaturesVideoMobile 386 пикселей */
    height: 229px; /* высота блока FeaturesVideoMobile 229 пикселей */
    background-image: url(/screen-mobile.png); /* задний фон блока FeaturesVideoMobile */
    background-size: cover; /* фоновое изображение растягивается на всю ширину блока */
    background-position: center; /* фоновое изображение выравнивается по центру */
    background-repeat: no-repeat; /* фоновое изображение не повторяется */
    display: flex; /* для позиционирование дочернего элемента блока FeaturesVideoMobile */
    justify-content: center; /* дочерний элемент блока FeaturesVideoMobile выравнивается по центру по горизонтали */
    align-items: center; /* дочерний элемент блока FeaturesVideoMobile выравнивается по центру по вертикали */
  }

  .FeaturesVideoButtonMobile {
    width: 61px; /* ширина элемента блока FeaturesVideoButtonMobile 61 пикселей */
    height: 61px; /* высота элемента блока FeaturesVideoButtonMobile 61 пикселей */
  }

  .FeaturesList {
    width: 255px; /* ширина элемента блока FeaturesList 255 пикселей */
    grid-template-columns: auto; /* количество колонок в сетке элемента блока FeaturesList 1 */
    row-gap: 75px; /* расстояние между строками элемента блока FeaturesList 75 пикселей */
  }

  .FeaturesVideo {
    display: none; /* скрываем элемент блока FeaturesVideo при ширине экрана меньше 1270 пикселей */
  }

  .Advantage {
    text-align: center; /* текст элемента блока Advantage выравнивается по центру */
    grid-template-columns: auto; /* количество колонок в сетке элемента блока Advantage 1 */
    row-gap: 60px; /* расстояние между строками элемента блока Advantage 60 пикселей */
    margin: 126px auto; /* верхний и нижний внешние отступы блока Advantage 126 пикселей, отступы по бокам автоматические */
  }

  .Advantage img {
    /* элемент изображения блока Advantage */
    width: 372px; /* ширина изображения блока Advantage 372 пикселей */
    height: 225px; /* высота изображения блока Advantage 225 пикселей */
  }

  .Newsletter {
    text-align: center; /* текст элемента блока Newsletter выравнивается по центру */
    grid-template-columns: auto; /* количество колонок в сетке элемента блока Newsletter 1 */
  }

  .Newsletter > div:first-child {
    /* первый дочерний элемент блока Newsletter */
    display: none; /* скрываем элемент при ширине экрана меньше 1270 пикселей */
  }

  .Newsletter > div:last-child {
    /* последний дочерний элемент блока Newsletter */
    padding: 0; /* обнуляем внутренние отступы */
  }

  .NewsletterImageMobile {
    display: inline-block; /* элемент блока NewsletterImageMobile отображается как строчный элемент */
  }

  .NewsletterForm {
    padding: 0 33px; /* внутренние отступы элемента блока NewsletterForm 33 пикселя по бокам */
    max-width: 418px; /* максимальная ширина элемента блока NewsletterForm 418 пикселей */
    margin: 0 auto; /* отступы по бокам автоматические */
  }

  .NewsletterInput,
  .NewsletterButton {
    width: 100%; /* ширина элемента блока NewsletterInput 100% */
  }

  .NewsletterButton {
    margin: 0; /* обнуляем внешние отступы */
  }

  .PartnersList {
    border: none; /* убираем рамку элемента блока PartnersList */
    width: 275px; /* ширина элемента блока PartnersList 275 пикселей */
  }

  .PartnersItem {
    flex: 1 1 100%; /* элемент блока PartnersItem занимает 100% ширины родительского элемента */
    margin-bottom: 30px; /* нижний внешний отступ элемента блока PartnersItem 30 пикселей */
    display: none;
  }

  .PartnersItem img {
    width: 100%; /* ширина изображения элемента блока PartnersItem 100% */
  }

  .PartnersItem:nth-child(1),
  .PartnersItem:nth-child(2),
  .PartnersItem:nth-child(3) {
    /* первые три элемента блока PartnersItem */
    display: block; /* элемент блока PartnersItem отображается как блочный элемент */
  }

  .Testimonials h4 {
    font-size: 20px; /* размер шрифта элемента блока Testimonials 20 пикселей */
    line-height: 20px; /* высота строки элемента блока Testimonials 20 пикселей */
  }

  .PricingList {
    grid-template-columns: auto; /* количество колонок в сетке элемента блока PricingList 1 */
    row-gap: 50px; /* расстояние между строками элемента блока PricingList 50 пикселей */
    max-width: 335px; /* максимальная ширина элемента блока PricingList 335 пикселей */
  }

  .ContactRow {
    display: block; /* элемент блока ContactRow отображается как блочный элемент */
  }

  .ContactInfo {
    display: none; /* скрываем элемент при ширине экрана меньше 1270 пикселей */
  }

  .ContactInfoMobile {
    display: block; /* элемент блока ContactInfoMobile отображается как блочный элемент */
    max-width: 378px; /* максимальная ширина элемента блока ContactInfoMobile 378 пикселей */
    margin: 0 auto 100px; /* отступы по бокам автоматические, нижний внешний отступ элемента блока ContactInfoMobile 100 пикселей */
  }

  .ContactInfoMobile > div:first-child {
    margin-bottom: 100px; /* нижний внешний отступ элемента блока ContactInfoMobile 150 пикселей */
  }

  .ContactInfoItem {
    display: flex; /* элемент блока ContactInfoItem отображается как блочный элемент */
    margin-bottom: 20px; /* нижний внешний отступ элемента блока ContactInfoItem 20 пикселей */
  }

  .ContactInfoItem img {
    width: 60px; /* ширина изображения элемента блока ContactInfoItem 60 пикселей */
  }

  .ContactInfoItem h5 {
    height: unset; /* высота элемента блока ContactInfoItem не задана */
  }

  .ContactForm {
    margin: 0 auto; /* отступы по бокам автоматические */
    width: 100%; /* ширина элемента блока ContactForm 100% */
    max-width: 378px; /* максимальная ширина элемента блока ContactForm 378 пикселей */
  }

  .ContactFormTextarea {
    width: 100%; /* ширина элемента блока ContactFormTextarea 100% */
  }

  .Footer {
    padding: 107px 0; /* внутренние отступы элемента блока Footer 107 пикселей сверху и снизу, 0 пикселей по бокам */
  }

  .FooterRow {
    width: 300px; /* ширина элемента блока FooterRow 300 пикселей */
    text-align: center; /* выравнивание текста по центру */
    display: block; /* элемент блока FooterRow отображается как блочный элемент */
  }

  .FooterItem {
    margin: 0 auto 100px !important; /* отступы по бокам автоматические, нижний внешний отступ элемента блока FooterItem 100 пикселей */
  }

  .FooterContact {
    text-align: left; /* выравнивание текста по левому краю */
  }
}
